* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --green: #c5f82a;
    --white: #fff;
    --grey-700: #333333;
    --grey-800: #1f1f1f;
    --grey-900: #141414;
}
